*.key
*.crt
authorized_sentry.json
influxdb/data/

# Node-RED
nodered/data/node_modules/
nodered/data/.npm/
nodered/data/flows_cred.json
nodered/data/.flows_cred.json.backup
nodered/data/.flows.json.backup
nodered/data/.config.*.json
nodered/data/.config.*.json.backup
nodered/data/.config.runtime.json.backup
nodered/data/lib/
nodered/data/package-lock.json

.env
