https://localhost {
    tls internal

    handle /sentry/* {
        reverse_proxy nodered-app:1880
    }

    handle /grafana/* {
        reverse_proxy grafana:3000
    }

    # Rigira TUTTO il traffico a Node-RED
    #reverse_proxy nodered-app:1880
    handle {
        reverse_proxy nodered-app:1880
    }
}
