{
        debug
        email {$EMAIL}
}

{$SITE_ADDRESS} {
        @sentry path /sentry/*
        handle @sentry {
                reverse_proxy nodered:1880
        }

        handle {
                respond "Not found" 404
        }
}
